{% extends "_layout.njk" %}

{% block content %}
    <main>
        <h2>Site content</h2>
        <p>Open the console to the see imported log.</p>
        <img src="img/image.jpg" alt="">
    </main>
{% endblock %}