@font-face {
    font-family: SourceSansPro;
    src: url(../fonts/SourceSansPro-Regular/sourcesanspro-regular.woff2) format('woff2'),
         url(../fonts/SourceSansPro-Regular/sourcesanspro-regular.woff2) format('woff');
}

p {
    font-size: 24px;
}