body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    width: 100%;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

header,
footer {
    flex: none;
}

main {
    flex: 1 0 auto;
}